
{% block sidebar %}
<!------ Sidebar ------>
{% if is_granted('ROLE_ADMIN') %}
<div class="sidebar-container bleu-light-bg inset-shadow">
    <!--- Mon Compte --->
    <div class="sb-row linear-jaune-bg grey-shadow radius-5 text-24">
        <a href="{{ path('app_profil', {'id': app.user.id} ) }}" class="inline vert-gris semibold">
            <p class="prev__icon settings">Mon compte</p>
        </a>
    </div>
{% else %}
<div class="sidebar-container jaune-pastel-bg inset-shadow">
    <!--- Mon Compte --->
    <div class="sb-row linear-jaune-bg grey-shadow radius-5 text-24">
        <a href="{{ path('app_profil', {'id': app.user.id} ) }}" class="inline vert-gris semibold">
            <p class="prev__icon settings">Mon compte</p>
        </a>
    </div>
{% endif %}

    <!--- Nav Sidebar --->
    {% if is_granted('ROLE_ADMIN') %}
    <nav class="sidebar sb-row linear-jaune-bg grey-shadow radius-5">
            <ul class="bo-menu text-24">
                <li class="bo-items">
                    <a class="prev__icon itineraires" href="{{ path('admin_itineraires') }}" class="inline vert-gris semibold">Itinéraires à valider
                    </a>
                </li>
            </ul>
    {% else %}
    <nav class="sidebar sb-row linear-jaune-bg grey-shadow radius-5">
        <ul class="bo-menu text-24">
            
            <li class="bo-items">
                <a class="prev__icon prev__icon__active itineraires">Mes itinéraires</a>
                <svg class="arrow down" width="16" height="9" viewBox="0 0 16 9" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.81592 0.394136C0.364745 0.891819 0.364745 1.63834 0.81592 2.13603L6.34283 8.23264C7.24518 9.22801 8.59869 9.22801 9.50104 8.23264L15.0279 2.13603C15.4791 1.63834 15.4791 0.891819 15.0279 0.394136C14.5767 -0.103547 13.9 -0.103547 13.4488 0.394136L8.71147 5.6198C8.2603 6.11748 7.58354 6.11748 7.13237 5.6198L2.39506 0.394136C1.94388 -0.103547 1.26709 -0.103547 0.81592 0.394136Z" />
                </svg>
                <ul class="bo-items_submenu text-22">
                    <li><a href="{{ path('app_itineraires_published')}}">Publiés()</a></li>
                    {# <li><a href="#">Historique</a></li> #}
                    <li><a href="{{ path('app_itineraires_liste')}}">Enregistrés</a></li>
                </ul>
            </li>
            
            <li class="bo-items">
                <span class="prev__icon friends">Amis</span>
                <svg class="arrow up" width="16" height="9" viewBox="0 0 16 9" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8746 8.6059C15.3258 8.10822 15.3258 7.36171 14.8746 6.86402L9.34772 0.767398C8.44537 -0.227967 7.09186 -0.227967 6.18951 0.767398L0.6626 6.86402C0.211425 7.36171 0.211425 8.10822 0.6626 8.6059C1.11377 9.10359 1.79056 9.10359 2.24174 8.6059L6.97905 3.38024C7.43022 2.88256 8.10698 2.88256 8.55815 3.38024L13.2955 8.6059C13.7467 9.10359 14.4234 9.10359 14.8746 8.6059Z" />
                </svg>
            </li>
            <li class="bo-items">
                <span class="prev__icon mailer"><a href="{{ path('app_messagerie')}}">Messagerie</a></span>
                <svg class="arrow up" width="16" height="9" viewBox="0 0 16 9" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8746 8.6059C15.3258 8.10822 15.3258 7.36171 14.8746 6.86402L9.34772 0.767398C8.44537 -0.227967 7.09186 -0.227967 6.18951 0.767398L0.6626 6.86402C0.211425 7.36171 0.211425 8.10822 0.6626 8.6059C1.11377 9.10359 1.79056 9.10359 2.24174 8.6059L6.97905 3.38024C7.43022 2.88256 8.10698 2.88256 8.55815 3.38024L13.2955 8.6059C13.7467 9.10359 14.4234 9.10359 14.8746 8.6059Z" />
                </svg>
            </li>
            
        </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}