{% extends 'base.html.twig' %}

{% block title %}InfoUser{% endblock %}

{% block body %}
    <h1>InfoUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info_user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ info_user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ info_user.prenom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ info_user.ville }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ info_user.region }}</td>
            </tr>
            <tr>
                <th>Miniature</th>
                <td>{{ info_user.miniature }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_info_user_index') }}">back to list</a>

    <a href="{{ path('app_info_user_edit', {'id': info_user.id}) }}">edit</a>

    {{ include('info_user/_delete_form.html.twig') }}
{% endblock %}
